.code-editor {
  -fx-font-family: "Consolas";
  -fx-font-size: 10pt;
  -fx-font-weight: bold;
}

.editor .selected-text {
  -fx-background-color: yellow;
}

.line-highlight {
  -fx-background-color: lightgray;
}

.line-numbers {
  -fx-font-family: "Consolas";
  -fx-font-size: 10pt;
  -fx-font-weight: bold;
  -fx-text-fill: #444;
  -fx-background-color: #aaa;
  -fx-padding: 0 5px;
}
