.symbol-table .column-header .label {
  -fx-alignment: center-left;
  -fx-font-size: 10pt;
  -fx-font-weight: normal;
}

.symbol-table .column-header-background .label {
  -fx-min-height: 30px;
  -fx-pref-height: 30px;
  -fx-max-height: 30px;
  -fx-padding: 5px;
}
